# ------------------------
# Web Framework
# ------------------------
flask==3.0.3
flask-cors==4.0.0
python-dotenv==1.0.0

# ------------------------
# Networking & Scraping
# ------------------------
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.2.2

# ------------------------
# URL / Domain Analysis
# ------------------------
validators==0.22.0
tldextract==5.1.1
python-whois==0.9.4
dnspython==2.6.1

# ------------------------
# Data Science & ML
# ------------------------
numpy==2.0.2
pandas==2.2.2
matplotlib==3.8.4
scipy==1.13.1
scikit-learn==1.5.2
catboost==1.2.8
